<p class="supertiny">&nbsp;</p>

<div id="footer">
	
	<%= link_to 'Home', home_path('index') %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Contact Us', home_path('contact') %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', home_path('privacy') %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'History', 'http://national.nsbe.org/' %>
	<br /><br />
	<div id="copy">
		Webmaster: <%= mail_to("clashman12@gmail.com", "CMU NSBE Telecoms", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2010
	</div>

</div>